<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537722360443-eeg11utjhtufoluo2jbl2at4ds0c5s8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537722360443-eeg11utjhtufoluo2jbl2at4ds0c5s8f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>537722360443-h7vdpb0e1q0qsmug0gkdue40nhpg2436.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaudyNeSkHe6iXDYesdzAmKR_WX9N-aNA</string>
	<key>GCM_SENDER_ID</key>
	<string>537722360443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFrontendRecipes</string>
	<key>PROJECT_ID</key>
	<string>kit-recipe-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kit-recipe-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537722360443:ios:21d3e5c3decfbda3a788de</string>
</dict>
</plist>